.profile {
    grid-area: c;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
}

.item a:active, a {
    color: greenyellow;
    text-decoration-line: none;
}

.item a:visited {
    color: green;
    decoration: none;
}